# INTERN NAME: SAYAM KUMAR

## Importing the relevant libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from scipy import stats
import re
import warnings
warnings.filterwarnings("ignore")
import datetime

In [2]:
np.set_printoptions(suppress=True,linewidth=150,precision=2)

In [3]:
plt.rcParams['figure.figsize'] = (16,8)

## Loading the dataset

In [4]:
delhi_data = pd.read_excel('Delhi.xlsx')
mumbai_data = pd.read_excel('Mumbai.xlsx')
chennai_data = pd.read_excel('Chennai.xlsx')
kolkata_data = pd.read_excel('Kolkata.xlsx')
ahmedabad_data = pd.read_excel('Ahmedabad.xlsx')
bangalore_data = pd.read_excel('Bangalore.xlsx')
hyderabad_data = pd.read_excel('Hyderabad.xlsx')
pune_data = pd.read_excel('Pune.xlsx')

In [5]:
tier1_data = pd.concat([mumbai_data,delhi_data,chennai_data,kolkata_data,ahmedabad_data,bangalore_data,hyderabad_data,pune_data])
tier1_data.head()

,Name,Type,Location,Contact no available?,Contact,Photographer name,comment,Email ID,Employees in studio,Monthly orders,...,Email id,Contact,Website,Internet,Contact number avilable?,Contact is available?,Comment,Unnamed: 19,Unnamed: 7,Unnamed: 0
0,Innfinites Photography - Wedding Photographer ...,· Wedding photographer,Mumbai,1.0,099200 64544,NaN,Bad review,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Picsurely: Destination Wedding Photographer in...,· Wedding photographer,Mumbai,1.0,080805 55605,NaN,Not intrested,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Wedding Photographers in Mumbai,· Wedding photographer,Mumbai,1.0,087792 89752,NaN,Quited Photography,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"A.Rrajani Photography Fashion,Portfolio,Advert...",· Photographer,Mumbai,1.0,070453 60660,NaN,Not received,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mint & Peach Photography - Maternity Photograp...,· Photographer,Mumbai,1.0,088792 86806,Manali,NaN,NaN,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
tier1_data.shape

(1293, 28)

In [7]:
tier1_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1293 entries, 0 to 190
Data columns (total 28 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Name                          1021 non-null   object
 1   Type                          1184 non-null   object
 2   Location                      1179 non-null   object
 3   Contact no available?         711 non-null    float64
 4   Contact                       148 non-null    object
 5   Photographer name             265 non-null    object
 6   comment                       899 non-null    object
 7   Email ID                      47 non-null     object
 8   Employees in studio           218 non-null    object
 9   Monthly orders                206 non-null    object
 10  Problems                      94 non-null     object
 11  Internet (Brand)              185 non-null    object
 12  Internet (Speed)              159 non-null    object
 13  Internet (Monthly Cost)       135 non-null    object
 14  Which cloud storage they use  171 non-null    object
 15  How they do photo selection   190 non-null    object
 16  Provides E-book?              198 non-null    object
 17  Album designing(Own?)         204 non-null    object
 18  Email id                      46 non-null     object
 19  Contact                       1038 non-null   object
 20  Website                       800 non-null    object
 21  Internet                      1042 non-null   float64
 22  Contact number avilable?      126 non-null    float64
 23  Contact is available?         348 non-null    object
 24  Comment                       97 non-null     object
 25  Unnamed: 19                   9 non-null      object
 26  Unnamed: 7                    1 non-null      float64
 27  Unnamed: 0                    159 non-null    object
dtypes: float64(4), object(24)
memory usage: 292.9+ KB

In [8]:
tier1_data.describe()

,Contact no available?,Internet,Contact number avilable?,Unnamed: 7
count,711.0,1042.000000,126.0,1.0000
mean,1.0,1.431862,1.0,0.8157
std,0.0,9.137001,0.0,NaN
min,1.0,0.000000,1.0,0.8157
25%,1.0,1.000000,1.0,0.8157
50%,1.0,1.000000,1.0,0.8157
75%,1.0,1.000000,1.0,0.8157
max,1.0,183.000000,1.0,0.8157

# Data Cleaning & Data Preprocessing

## Checking for null values

In [9]:
tier1_data.isnull().sum()

Name                             272
Type                             109
Location                         114
Contact no available?            582
Contact                         1145
Photographer name               1028
comment                          394
Email ID                        1246
Employees in studio             1075
Monthly orders                  1087
Problems                        1199
Internet (Brand)                1108
Internet (Speed)                1134
Internet (Monthly Cost)         1158
Which cloud storage they use    1122
How they do photo selection     1103
Provides E-book?                1095
Album designing(Own?)           1089
Email id                        1247
Contact                          255
Website                          493
Internet                         251
Contact number avilable?        1167
Contact is available?            945
Comment                         1196
Unnamed: 19                     1284
Unnamed: 7                      1292
Unnamed: 0                      1134
dtype: int64

## Checking for duplicate data if any

In [10]:
tier1_data[tier1_data.duplicated()]

,Name,Type,Location,Contact no available?,Contact,Photographer name,comment,Email ID,Employees in studio,Monthly orders,...,Email id,Contact,Website,Internet,Contact number avilable?,Contact is available?,Comment,Unnamed: 19,Unnamed: 7,Unnamed: 0
150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Dropping the rows containing all null values

In [11]:
tier1_data.dropna(axis=0,how='all',inplace=True)

## Dropping duplicate values

In [12]:
tier1_data.drop_duplicates(inplace=True)

## Removing unnecessary unnamed columns

In [13]:
tier1_data.drop(columns=['Unnamed: 19','Unnamed: 7','Unnamed: 0'],inplace=True)

## Determining percentage of null values of each column in the dataset

In [14]:
for col in tier1_data.columns:
    print("Percentage of null values in {}:".format(col),np.round(tier1_data[col].isnull().sum()/len(tier1_data[col])*100,2),'%')

Percentage of null values in Name: 14.2 %
Percentage of null values in Type: 0.5 %
Percentage of null values in Location: 0.92 %
Percentage of null values in Contact no available?: 40.25 %
Percentage of null values in Contact : 87.56 %
Percentage of null values in Photographer name: 77.73 %
Percentage of null values in comment: 24.45 %
Percentage of null values in Email ID: 96.05 %
Percentage of null values in Employees in studio: 81.68 %
Percentage of null values in Monthly orders: 82.69 %
Percentage of null values in Problems : 92.1 %
Percentage of null values in Internet (Brand): 84.45 %
Percentage of null values in Internet (Speed): 86.64 %
Percentage of null values in Internet (Monthly Cost): 88.66 %
Percentage of null values in Which cloud storage they use: 85.63 %
Percentage of null values in How they do photo selection: 84.03 %
Percentage of null values in Provides E-book? : 83.36 %
Percentage of null values in Album designing(Own?): 82.86 %
Percentage of null values in Email id: 96.13 %
Percentage of null values in Contact: 12.77 %
Percentage of null values in Website: 32.77 %
Percentage of null values in Internet: 12.44 %
Percentage of null values in Contact number avilable?: 89.41 %
Percentage of null values in Contact is available?: 70.76 %
Percentage of null values in Comment: 91.85 %

## Filtering the Email ID column

In [15]:
tier1_data = tier1_data[tier1_data['Email ID']!="Don't have mail Id"]

## Dropping "Contact number available?" and "Contact is available?" columns because of two reasons: 
1. Both of them are almost identical to the column "Contact no available?". 
2. Majority of their values are null.

In [16]:
tier1_data.drop(columns=['Contact number avilable?','Contact is available?'],inplace=True)

## Eliminating "Email id" column as it is almost similar to "Email ID" column and it also has a lot of null values i.e. 96.13%.

## Apart from it, there is a duplicate 'Comment' column as well which needs to be dropped.

## Dropping "Website" column as it is not needed from the context of my analysis.

In [17]:
tier1_data.drop(columns=['Email id','Comment','Website'],inplace=True)

## Renaming all the columns in order to give them more appropriate names

In [18]:
tier1_data.rename(columns={'Contact no available?': 'Contact No. Available', 'Photographer name': "Photographer's name", 'comment': 'Comment', 'Contact ': 'Contact', 'Employees in studio': 'No. of Employees', 'Monthly orders': 'Monthly Orders', 'Internet (Brand)': 'Internet Brand', 'Internet (Speed)': 'Internet Speed', 'Internet (Monthly Cost)': 'Internet Monthly Cost', 'Which cloud storage they use': 'Cloud Storage Used', 'How they do photo selection': 'Photo Selection Method', 'Provides E-book? ': 'E-Book', 'Album designing(Own?)': 'Album Designing'},inplace=True)

## There is a duplicate Contact column which needs to be removed.

## Data Transformation(As part of data preprocessing)

### Album Designing

In [32]:
tier1_data['Album Designing'].replace(['yes','Yes','3rd party','3rd Party','self','yes.','customer based','Own','outsourse','depends on work load','album sense software','partner','3rd Party user','YES','care.grandsstudio@gmail.com','own','with the help of photoshop','manually','yes photoshop','own designing','optinal','yes has a designer','sometiimes','yes party based','outsource','Outsource','3rd party '],1,inplace=True)
tier1_data['Album Designing'].replace(['no','no ','No','-','no 3rd party','no album included',"Don't provide album",'no(for album designing 3rd party)'],0,inplace=True)

In [33]:
tier1_data['Album Designing'].value_counts()

yes                                  123
no                                    26
No                                     9
Yes                                    5
3rd party                              4
3rd Party                              3
self                                   3
yes.                                   2
Own                                    2
no(for album designing 3rd party)      1
outsourse                              1
album sense software                   1
partner                                1
3rd Party user                         1
YES                                    1
care.grandsstudio@gmail.com            1
own                                    1
Don't provide album                    1
with the help of photoshop             1
manually                               1
no album included                      1
yes photoshop                          1
own designing                          1
optinal                                1
yes has a designer                     1
depends on work load                   1
sometiimes                             1
yes party based                        1
customer based                         1
outsource                              1
Outsource                              1
no 3rd party                           1
-                                      1
3rd party                              1
Name: Album Designing, dtype: int64

In [34]:
tier1_data['Album Designing'] = tier1_data['Album Designing'].astype(np.float64)

ValueError: could not convert string to float: 'no'

## E-Book

In [38]:
tier1_data['E-Book'].replace(['yes','client specific','Yes','depends on customer','yes ','Complementary','link sharing','Depends on customer','canberra ','depends'],1,inplace=True)
tier1_data['E-Book'].replace(['no','no ','No','-','NO','not '],0,inplace=True)
tier1_data['E-Book'].value_counts()

no                     75
yes                    74
No                     21
client specific         7
no                      4
Yes                     4
depends on customer     2
yes                     1
Complementary           1
-                       1
link sharing            1
NO                      1
Depends on customer     1
not                     1
canberra                1
depends                 1
Name: E-Book, dtype: int64

In [ ]:
tier1_data['E-Book'] = tier1_data['E-Book'].astype(np.float64)

## Internet

In [39]:
tier1_data = tier1_data[(tier1_data['Internet']==1.0)|(tier1_data['Internet']==0.0)]
tier1_data['Internet'].value_counts()

1.0    797
0.0    239
Name: Internet, dtype: int64

In [40]:
tier1_data['Internet'] = tier1_data['Internet'].astype(np.float64)

## Cloud Storage Used

In [41]:
tier1_data['Cloud Storage Used'].replace(to_replace=['g drive','google drive','Google drive','Google Drive','google','Google','g drive,','g drive ','google photos','G drive','gdrive, '],value='Google Drive',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace='pendrive',value='Pendrive',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace=['HDD','harddisk','hard disk','hard drive'],value='Hard Disk Drive',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace=['own storage','computer memory','own'],value='Own Storage',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace=['no','-','offline work','No','no cloud','no drive'],value='Not Used',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace=['drive',"didn’t mention",'4500-5000 yearly','varies on top-up','not constant','5000 yearly','yearly 6000','yearly 4000','2000-2500'],value='Unknown',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace=['cards','sd cards','card'],value='SD Cards',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace=['drop box','Drop box'],value='Drop Box',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace=['onedrive','one drive'],value='One Drive',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace='My air bridge',value='My Air Bridge',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace='v transfer',value='WeTransfer',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace=['icloud','iCloud'],value='iCloud',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace='google drive and icloud',value='Google Drive and iCloud',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace=['g drive,onedrive','g drive & one drive','g drive, onedrive','onedrive, g drive'],value='Google Drive and One Drive',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace='pendrive, Google drive',value='Pendrive and Google Drive',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace='gdrive, onedrive nd icloud',value='Google Drive, One Drive and iCloud',inplace=True)

In [43]:
tier1_data['Cloud Storage Used'].value_counts().head()

pendrive        19
g drive         17
no              11
google drive     9
HDD              8
Name: Cloud Storage Used, dtype: int64

## Number of Employees in Studio

In [44]:
tier1_data['No. of Employees'].replace("65+",65,inplace=True)
tier1_data['No. of Employees'].replace("8-10",10,inplace=True)
tier1_data['No. of Employees'].replace("25-30",30,inplace=True)
tier1_data['No. of Employees'].replace('1(solo)',1,inplace=True)
tier1_data['No. of Employees'].replace("3 to 4",4,inplace=True)
tier1_data['No. of Employees'].replace("2(actually gives outside project)",2,inplace=True)
tier1_data['No. of Employees'].replace(['didnt give','freelancer','freelancing','single','alone','higher only freelance','free lancer','freelance','FREELANCER',"freelancer(assignments)"],np.nan,inplace=True)

In [45]:
def datetime_to_int(dt):
    return int(dt.strftime("%Y%m%d%H%M%S"))

In [46]:
for x in tier1_data['No. of Employees'].values:
    if isinstance(x,datetime.datetime):
        tier1_data['No. of Employees'].replace(x,datetime_to_int(x),inplace=True)

In [47]:
tier1_data['No. of Employees'].value_counts().head()

2             19
didnt give    19
4             16
10            13
3             11
Name: No. of Employees, dtype: int64

## Monthly Orders

In [48]:
tier1_data['Monthly Orders'].fillna(0,inplace=True)

In [49]:
tier1_data.shape

(1036, 20)

## Internet Speed

In [63]:
for x in tier1_data['Internet Speed'].dropna().values:
    if type(x) == str:
        if re.search('\d+',x) is not None:
            tier1_data['Internet Speed'].replace(x,re.search('\d+',x).group(),inplace=True)

In [64]:
tier1_data = tier1_data[(tier1_data['Internet Speed']!="don’t know")&(tier1_data['Internet Speed']!="didn’t know")&(tier1_data['Internet Speed']!="nil")&(tier1_data['Internet Speed']!="Airtle")&(tier1_data['Internet Speed']!="GTPL")&(tier1_data['Internet Speed']!='-')&(tier1_data['Internet Speed']!="didn’t tell")]
tier1_data['Internet Speed'] = tier1_data['Internet Speed'].astype(np.float64)
tier1_data['Internet Speed'].value_counts()

ValueError: could not convert string to float: '1gbps'

In [ ]:
tier1_data.shape

## Internet Monthly Cost

In [ ]:
for x in tier1_data['Internet Monthly Cost'].values:
    if type(x) == str:
        if re.search('\d+',x) is not None:
            tier1_data['Internet Monthly Cost'].replace(x,re.search('\d+',x).group(),inplace=True)

In [ ]:
for x in tier1_data['Internet Monthly Cost'].values:
    if isinstance(x,(datetime.datetime)):
        tier1_data['Internet Monthly Cost'].replace(x,datetime_to_int(x),inplace=True)
tier1_data = tier1_data[tier1_data['Internet Monthly Cost']!=80001201000000]

In [ ]:
tier1_data = tier1_data[(tier1_data['Internet Monthly Cost']!="don’t know")&(tier1_data['Internet Monthly Cost']!="didn’t know")&(tier1_data['Internet Monthly Cost']!="don’t use internet")&(tier1_data['Internet Monthly Cost']!="top-ups on need")&(tier1_data['Internet Monthly Cost']!="did not tell")&(tier1_data['Internet Monthly Cost']!='yearly plan with IT')&(tier1_data['Internet Monthly Cost']!="8000-12-01 00:00:00")&(tier1_data['Internet Monthly Cost']!="didn’t tell")&(tier1_data['Internet Monthly Cost']!="No")&(tier1_data['Internet Monthly Cost']!="don’t use")&(tier1_data['Internet Monthly Cost']!="not aware")&(tier1_data['Internet Monthly Cost']!="mobile data")&(tier1_data['Internet Monthly Cost']!='-')&(tier1_data['Internet Monthly Cost']!="Don't Know")&(tier1_data['Internet Monthly Cost']!="can't say")]
tier1_data['Internet Monthly Cost'] = tier1_data['Internet Monthly Cost'].astype(np.float64)

In [ ]:
tier1_data.shape

## Internet Brand

In [ ]:
tier1_data['Internet Brand'].replace(['jiofibre','jio fibre'],'Jio Fibre',inplace=True)
tier1_data['Internet Brand'].replace('alliance','Alliance',inplace=True)
tier1_data['Internet Brand'].replace(['airtel','Airtel'],'Airtel',inplace=True)
tier1_data['Internet Brand'].replace('wish net','Wish Net',inplace=True)
tier1_data['Internet Brand'].replace('a-fiber net','Fibernet',inplace=True)
tier1_data['Internet Brand'].replace('act-fiber','ACT Fibernet',inplace=True)
tier1_data['Internet Brand'].replace('you broad band','You Broad Band',inplace=True)
tier1_data['Internet Brand'].replace('did not know','Unknown',inplace=True)
tier1_data['Internet Brand'].replace('cloudnine','Cloud 9',inplace=True)
tier1_data['Internet Brand'].value_counts()

In [ ]:
tier1_data.shape

## Comment

In [ ]:
tier1_data['Comment'].unique()

In [ ]:
tier1_data['Comment'].replace(['Not intrested','Not Interested','Switched OFF','Not interested','not interested','Due to lockdown ','Call cut (Not interested)','Not accepting calls for now','Office closed till 15th May dont want to talk','Not interested (Client based platoform he need where he can get as much as client )','not intersted','dont share info','dont want to share','Call not answered', 'Phone switched off', 'Phone Switched off', 'Not Interested in sharing any type of info.',"Didn't pickup the call",'had cut the call','he disconnected the call','disconnected the call','Switched Off','left the business','no interested','no more doing photography','call declined', 'not connecting','not answering','call cut','not picking up the call','non connecting the call','switched off','disconnected','not a photoghrapher','not in business(may be later)','switch off','Not interested (institutional based company)', 'Not interested ','Business shutdown','Try to call later (Blocked my number )','AS OF now closed when things get normal will get back in business','Not in business', 'Due to lockdown , Business is shutdown','business shutdown', 'Not Interested, will call after someday'],"Not Interested",inplace=True)
not_interested = np.array(['Not intrested','Not Interested','Switched OFF','Not interested','not interested','Due to lockdown ','Call cut (Not interested)','Not accepting calls for now','Office closed till 15th May dont want to talk','Not interested (Client based platoform he need where he can get as much as client )','not intersted','dont share info','dont want to share','Call not answered', 'Phone switched off', 'Phone Switched off', 'Not Interested in sharing any type of info.',"Didn't pickup the call",'had cut the call','he disconnected the call','disconnected the call','Switched Off','left the business','no interested','no more doing photography','call declined', 'not connecting','not answering','call cut','not picking up the call','non connecting the call','switched off','disconnected','not a photoghrapher','not in business(may be later)','switch off','Not interested (institutional based company)', 'Not interested ','Business shutdown','Try to call later (Blocked my number )','AS OF now closed when things get normal will get back in business','Not in business', 'Due to lockdown , Business is shutdown','business shutdown', 'Not Interested, will call after someday'])

In [ ]:
interested = []
for x in tier1_data['Comment'].unique():
    if x not in not_interested:
        interested.append(x)
tier1_data['Comment'].replace(interested,"Interested",inplace=True)

In [ ]:
tier1_data['Comment'] = np.where(tier1_data['Comment']=='Not Interested',0,tier1_data['Comment'])
tier1_data['Comment'] = np.where(tier1_data['Comment']=='Interested',1,tier1_data['Comment'])
tier1_data['Comment'] = tier1_data['Comment'].astype(np.float64)
tier1_data['Comment'].value_counts()

In [ ]:
tier1_data.drop(columns=['Contact','Contact No. Available'],inplace=True)

In [ ]:
tier1_data.info()

## Type

In [ ]:
for x in tier1_data['Type'].unique():
    tier1_data['Type'].replace(x,x.strip("· "),inplace=True)
    tier1_data['Type'].replace(x,x.strip("No reviews · "),inplace=True)
tier1_data['Type'].replace('Photography servic','Photography service',inplace=True)
tier1_data['Type'].replace('Wedding plann','Wedding plan',inplace=True)
tier1_data['Type'].replace('Wedding plann','Wedding plan',inplace=True)
tier1_data['Type'].replace('Internet marketing servic','Internet marketing service',inplace=True)
tier1_data['Type'].replace('Photography stud','Photography studio',inplace=True)
tier1_data['Type'].replace('Model portfolio stud','Model portfolio studio',inplace=True)
tier1_data['Type'].replace('Photography Institut','Photography Institute',inplace=True)
tier1_data['Type'].replace('Video editing servic','Video editing service',inplace=True)
tier1_data['Type'].replace('Tour operat','Tour operator',inplace=True)
tier1_data['Type'].replace('Copier repair servic','Copier repair service',inplace=True)
tier1_data['Type'].replace('Photography Institut','Photography Institute',inplace=True)
tier1_data['Type'].replace('Video production servic','Video production service',inplace=True)
tier1_data['Type'].replace('Portrait stud','Portrait studio',inplace=True)
tier1_data['Type'].replace('Photography Cla','CLA Photography',inplace=True)
tier1_data['Type'].replace('Corporate gift suppl','Corporate gift supply',inplace=True)
tier1_data['Type'].replace('Photography Institut','Photography Institute',inplace=True)
tier1_data['Type'].replace('Camera st','Camera studio',inplace=True)
tier1_data['Type'].replace('Electronics st','Electronics studio',inplace=True)
tier1_data['Type'].replace(['Wedding venu', 'Colleg','Design institut'],['Wedding venue', 'College','Design institute'],inplace=True)
tier1_data['Type'].replace(['th Indian restaurant', 'Corporate offic'],['The Indian restaurant', 'Corporate office'],inplace=True)

In [ ]:
tier1_data['Type'].unique()