# INTERN NAME: SAYAM KUMAR

## Importing the relevant libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from scipy import stats
import re
import warnings
warnings.filterwarnings("ignore")
import datetime

In [2]:
np.set_printoptions(suppress=True,linewidth=150,precision=2)

In [3]:
plt.rcParams['figure.figsize'] = (16,8)

## Loading the dataset

In [4]:
delhi_data = pd.read_excel('Delhi.xlsx')
mumbai_data = pd.read_excel('Mumbai.xlsx')
chennai_data = pd.read_excel('Chennai.xlsx')
kolkata_data = pd.read_excel('Kolkata.xlsx')
ahmedabad_data = pd.read_excel('Ahmedabad.xlsx')
bangalore_data = pd.read_excel('Bangalore.xlsx')
hyderabad_data = pd.read_excel('Hyderabad.xlsx')
pune_data = pd.read_excel('Pune.xlsx')

In [5]:
tier1_data = pd.concat([mumbai_data,delhi_data,chennai_data,kolkata_data,ahmedabad_data,bangalore_data,hyderabad_data,pune_data])
tier1_data.head()

,Name,Type,Location,Contact no available?,Contact,Photographer name,comment,Email ID,Employees in studio,Monthly orders,...,Email id,Contact,Website,Internet,Contact number avilable?,Contact is available?,Comment,Unnamed: 19,Unnamed: 7,Unnamed: 0
0,Innfinites Photography - Wedding Photographer ...,· Wedding photographer,Mumbai,1.0,099200 64544,NaN,Bad review,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Picsurely: Destination Wedding Photographer in...,· Wedding photographer,Mumbai,1.0,080805 55605,NaN,Not intrested,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Wedding Photographers in Mumbai,· Wedding photographer,Mumbai,1.0,087792 89752,NaN,Quited Photography,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"A.Rrajani Photography Fashion,Portfolio,Advert...",· Photographer,Mumbai,1.0,070453 60660,NaN,Not received,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mint & Peach Photography - Maternity Photograp...,· Photographer,Mumbai,1.0,088792 86806,Manali,NaN,NaN,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
tier1_data.shape

(1293, 28)

In [7]:
tier1_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1293 entries, 0 to 190
Data columns (total 28 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Name                          1021 non-null   object
 1   Type                          1184 non-null   object
 2   Location                      1179 non-null   object
 3   Contact no available?         711 non-null    float64
 4   Contact                       148 non-null    object
 5   Photographer name             265 non-null    object
 6   comment                       899 non-null    object
 7   Email ID                      47 non-null     object
 8   Employees in studio           218 non-null    object
 9   Monthly orders                206 non-null    object
 10  Problems                      94 non-null     object
 11  Internet (Brand)              185 non-null    object
 12  Internet (Speed)              159 non-null    object
 13  Internet (Monthly Cost)       135 non-null    object
 14  Which cloud storage they use  171 non-null    object
 15  How they do photo selection   190 non-null    object
 16  Provides E-book?              198 non-null    object
 17  Album designing(Own?)         204 non-null    object
 18  Email id                      46 non-null     object
 19  Contact                       1038 non-null   object
 20  Website                       800 non-null    object
 21  Internet                      1042 non-null   float64
 22  Contact number avilable?      126 non-null    float64
 23  Contact is available?         348 non-null    object
 24  Comment                       97 non-null     object
 25  Unnamed: 19                   9 non-null      object
 26  Unnamed: 7                    1 non-null      float64
 27  Unnamed: 0                    159 non-null    object
dtypes: float64(4), object(24)
memory usage: 292.9+ KB

In [8]:
tier1_data.describe()

,Contact no available?,Internet,Contact number avilable?,Unnamed: 7
count,711.0,1042.000000,126.0,1.0000
mean,1.0,1.431862,1.0,0.8157
std,0.0,9.137001,0.0,NaN
min,1.0,0.000000,1.0,0.8157
25%,1.0,1.000000,1.0,0.8157
50%,1.0,1.000000,1.0,0.8157
75%,1.0,1.000000,1.0,0.8157
max,1.0,183.000000,1.0,0.8157

# Data Cleaning & Data Preprocessing

## Checking for null values

In [9]:
tier1_data.isnull().sum()

Name                             272
Type                             109
Location                         114
Contact no available?            582
Contact                         1145
Photographer name               1028
comment                          394
Email ID                        1246
Employees in studio             1075
Monthly orders                  1087
Problems                        1199
Internet (Brand)                1108
Internet (Speed)                1134
Internet (Monthly Cost)         1158
Which cloud storage they use    1122
How they do photo selection     1103
Provides E-book?                1095
Album designing(Own?)           1089
Email id                        1247
Contact                          255
Website                          493
Internet                         251
Contact number avilable?        1167
Contact is available?            945
Comment                         1196
Unnamed: 19                     1284
Unnamed: 7                      1292
Unnamed: 0                      1134
dtype: int64

## Checking for duplicate data if any

In [10]:
tier1_data[tier1_data.duplicated()]

,Name,Type,Location,Contact no available?,Contact,Photographer name,comment,Email ID,Employees in studio,Monthly orders,...,Email id,Contact,Website,Internet,Contact number avilable?,Contact is available?,Comment,Unnamed: 19,Unnamed: 7,Unnamed: 0
150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Dropping the rows containing all null values

In [11]:
tier1_data.dropna(axis=0,how='all',inplace=True)

## Dropping duplicate values

In [12]:
tier1_data.drop_duplicates(inplace=True)

## Removing unnecessary unnamed columns

In [13]:
tier1_data.drop(columns=['Unnamed: 19','Unnamed: 7','Unnamed: 0'],inplace=True)

## Determining percentage of null values of each column in the dataset

In [14]:
for col in tier1_data.columns:
    print("Percentage of null values in {}:".format(col),np.round(tier1_data[col].isnull().sum()/len(tier1_data[col])*100,2),'%')

Percentage of null values in Name: 14.2 %
Percentage of null values in Type: 0.5 %
Percentage of null values in Location: 0.92 %
Percentage of null values in Contact no available?: 40.25 %
Percentage of null values in Contact : 87.56 %
Percentage of null values in Photographer name: 77.73 %
Percentage of null values in comment: 24.45 %
Percentage of null values in Email ID: 96.05 %
Percentage of null values in Employees in studio: 81.68 %
Percentage of null values in Monthly orders: 82.69 %
Percentage of null values in Problems : 92.1 %
Percentage of null values in Internet (Brand): 84.45 %
Percentage of null values in Internet (Speed): 86.64 %
Percentage of null values in Internet (Monthly Cost): 88.66 %
Percentage of null values in Which cloud storage they use: 85.63 %
Percentage of null values in How they do photo selection: 84.03 %
Percentage of null values in Provides E-book? : 83.36 %
Percentage of null values in Album designing(Own?): 82.86 %
Percentage of null values in Email id: 96.13 %
Percentage of null values in Contact: 12.77 %
Percentage of null values in Website: 32.77 %
Percentage of null values in Internet: 12.44 %
Percentage of null values in Contact number avilable?: 89.41 %
Percentage of null values in Contact is available?: 70.76 %
Percentage of null values in Comment: 91.85 %

## Filtering the Email ID column

In [15]:
tier1_data = tier1_data[tier1_data['Email ID']!="Don't have mail Id"]

## Dropping "Contact number available?" and "Contact is available?" columns because of two reasons: 
1. Both of them are almost identical to the column "Contact no available?". 
2. Majority of their values are null.

In [16]:
tier1_data.drop(columns=['Contact number avilable?','Contact is available?'],inplace=True)

## Eliminating "Email id" column as it is almost similar to "Email ID" column and it also has a lot of null values i.e. 96.13%.

## Apart from it, there is a duplicate 'Comment' column as well which needs to be dropped.

## Dropping "Website" column as it is not needed from the context of my analysis.

In [17]:
tier1_data.drop(columns=['Email id','Comment','Website'],inplace=True)

## Renaming all the columns in order to give them more appropriate names

In [18]:
tier1_data.rename(columns={'Contact no available?': 'Contact No. Available', 'Photographer name': "Photographer's name", 'comment': 'Comment', 'Contact ': 'Contact', 'Employees in studio': 'No. of Employees', 'Monthly orders': 'Monthly Orders', 'Internet (Brand)': 'Internet Brand', 'Internet (Speed)': 'Internet Speed', 'Internet (Monthly Cost)': 'Internet Monthly Cost', 'Which cloud storage they use': 'Cloud Storage Used', 'How they do photo selection': 'Photo Selection Method', 'Provides E-book? ': 'E-Book', 'Album designing(Own?)': 'Album Designing'},inplace=True)

## There is a duplicate Contact column which needs to be removed.

## Data Transformation(As part of data preprocessing)

### Album Designing

In [82]:
tier1_data['Album Designing'].replace(['yes','Yes','3rd party','3rd Party','self','yes.','customer based','Own','outsourse','depends on work load','album sense software','partner','3rd Party user','YES','care.grandsstudio@gmail.com','own','with the help of photoshop','manually','yes photoshop','own designing','optinal','yes has a designer','sometiimes','yes party based','outsource','Outsource','3rd party '],1,inplace=True)
tier1_data['Album Designing'].replace(['no','no ','No','-','no 3rd party','no album included',"Don't provide album",'no(for album designing 3rd party)',np.nan],0,inplace=True)

In [83]:
tier1_data['Album Designing'].value_counts()

0    875
1    129
Name: Album Designing, dtype: int64

In [84]:
tier1_data['Album Designing'] = tier1_data['Album Designing'].astype(np.float64)

## E-Book

In [79]:

tier1_data['E-Book'].replace(['yes','client specific','Yes','depends on customer','yes ','Complementary','link sharing','Depends on customer','canberra ','depends'],1,inplace=True)

In [80]:
tier1_data['E-Book'].replace(['yes','client specific','Yes','depends on customer','yes ','Complementary','link sharing','Depends on customer','canberra ','depends'],1,inplace=True)
tier1_data['E-Book'].replace(['no','no ','No','-','NO','not ',np.nan],0,inplace=True)
tier1_data['E-Book'].value_counts()

0    936
1     68
Name: E-Book, dtype: int64

In [81]:
tier1_data['E-Book'] = tier1_data['E-Book'].astype(np.float64)

## Internet

In [31]:
tier1_data = tier1_data[(tier1_data['Internet']==1.0)|(tier1_data['Internet']==0.0)]
tier1_data['Internet'].value_counts()

1.0    797
0.0    239
Name: Internet, dtype: int64

In [32]:
tier1_data['Internet'] = tier1_data['Internet'].astype(np.float64)

## Cloud Storage Used

In [33]:
tier1_data['Cloud Storage Used'].replace(to_replace=['g drive','google drive','Google drive','Google Drive','google','Google','g drive,','g drive ','google photos','G drive','gdrive, '],value='Google Drive',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace='pendrive',value='Pendrive',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace=['HDD','harddisk','hard disk','hard drive'],value='Hard Disk Drive',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace=['own storage','computer memory','own'],value='Own Storage',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace=['no','-','offline work','No','no cloud','no drive'],value='Not Used',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace=['drive',"didn’t mention",'4500-5000 yearly','varies on top-up','not constant','5000 yearly','yearly 6000','yearly 4000','2000-2500'],value='Unknown',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace=['cards','sd cards','card'],value='SD Cards',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace=['drop box','Drop box'],value='Drop Box',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace=['onedrive','one drive'],value='One Drive',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace='My air bridge',value='My Air Bridge',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace='v transfer',value='WeTransfer',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace=['icloud','iCloud'],value='iCloud',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace='google drive and icloud',value='Google Drive and iCloud',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace=['g drive,onedrive','g drive & one drive','g drive, onedrive','onedrive, g drive'],value='Google Drive and One Drive',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace='pendrive, Google drive',value='Pendrive and Google Drive',inplace=True)
tier1_data['Cloud Storage Used'].replace(to_replace='gdrive, onedrive nd icloud',value='Google Drive, One Drive and iCloud',inplace=True)

In [34]:
tier1_data['Cloud Storage Used'].value_counts().head()

pendrive        19
g drive         17
no              11
google drive     9
HDD              8
Name: Cloud Storage Used, dtype: int64

## Number of Employees in Studio

In [35]:
tier1_data['No. of Employees'].replace("65+",65,inplace=True)
tier1_data['No. of Employees'].replace("8-10",10,inplace=True)
tier1_data['No. of Employees'].replace("25-30",30,inplace=True)
tier1_data['No. of Employees'].replace('1(solo)',1,inplace=True)
tier1_data['No. of Employees'].replace("3 to 4",4,inplace=True)
tier1_data['No. of Employees'].replace("2(actually gives outside project)",2,inplace=True)
tier1_data['No. of Employees'].replace(['didnt give','freelancer','freelancing','single','alone','higher only freelance','free lancer','freelance','FREELANCER',"freelancer(assignments)"],np.nan,inplace=True)

In [36]:
def datetime_to_int(dt):
    return int(dt.strftime("%Y%m%d%H%M%S"))

In [37]:
for x in tier1_data['No. of Employees'].values:
    if isinstance(x,datetime.datetime):
        tier1_data['No. of Employees'].replace(x,datetime_to_int(x),inplace=True)

In [38]:
tier1_data['No. of Employees'].value_counts().head()

2             19
didnt give    19
4             16
10            13
3             11
Name: No. of Employees, dtype: int64

## Monthly Orders

In [39]:
tier1_data['Monthly Orders'].fillna(0,inplace=True)

In [40]:
tier1_data.shape

(1036, 20)

## Internet Speed

In [76]:
for x in tier1_data['Internet Speed'].values:
    if type(x) == str:
        if re.search('\d+',x) is not None:
            tier1_data['Internet Speed'].replace(x,re.search('\d+',x).group(),inplace=True)

In [77]:
tier1_data = tier1_data[(tier1_data['Internet Speed']!="don’t know")&(tier1_data['Internet Speed']!="didn’t know")&(tier1_data['Internet Speed']!="nil")&(tier1_data['Internet Speed']!="Airtle")&(tier1_data['Internet Speed']!="GTPL")&(tier1_data['Internet Speed']!='-')&(tier1_data['Internet Speed']!="didn’t tell")]
tier1_data['Internet Speed'] = tier1_data['Internet Speed'].astype(np.float64)
tier1_data['Internet Speed'].value_counts()

100.0    41
50.0     10
10.0      9
150.0     7
40.0      7
200.0     5
20.0      5
60.0      3
300.0     3
5.0       2
250.0     2
30.0      2
25.0      2
75.0      2
70.0      1
1.0       1
15.0      1
16.0      1
2.0       1
8.0       1
Name: Internet Speed, dtype: int64

In [78]:
tier1_data.shape

(1004, 17)

## Internet Monthly Cost

In [71]:
for x in tier1_data['Internet Monthly Cost'].values:
    if type(x) == str:
        if re.search('\d+',x) is not None:
            tier1_data['Internet Monthly Cost'].replace(x,re.search('\d+',x).group(),inplace=True)

In [72]:
for x in tier1_data['Internet Monthly Cost'].values:
    if isinstance(x,(datetime.datetime)):
        tier1_data['Internet Monthly Cost'].replace(x,datetime_to_int(x),inplace=True)
tier1_data = tier1_data[tier1_data['Internet Monthly Cost']!=80001201000000]

In [73]:
tier1_data = tier1_data[(tier1_data['Internet Monthly Cost']!="don’t know")&(tier1_data['Internet Monthly Cost']!="didn’t know")&(tier1_data['Internet Monthly Cost']!="don’t use internet")&(tier1_data['Internet Monthly Cost']!="top-ups on need")&(tier1_data['Internet Monthly Cost']!="did not tell")&(tier1_data['Internet Monthly Cost']!='yearly plan with IT')&(tier1_data['Internet Monthly Cost']!="8000-12-01 00:00:00")&(tier1_data['Internet Monthly Cost']!="didn’t tell")&(tier1_data['Internet Monthly Cost']!="No")&(tier1_data['Internet Monthly Cost']!="don’t use")&(tier1_data['Internet Monthly Cost']!="not aware")&(tier1_data['Internet Monthly Cost']!="mobile data")&(tier1_data['Internet Monthly Cost']!='-')&(tier1_data['Internet Monthly Cost']!="Don't Know")&(tier1_data['Internet Monthly Cost']!="can't say")]
tier1_data['Internet Monthly Cost'] = tier1_data['Internet Monthly Cost'].astype(np.float64)

In [74]:
tier1_data.shape

(1004, 17)

## Internet Brand

In [55]:
tier1_data['Internet Brand'].replace(['jiofibre','jio fibre'],'Jio Fibre',inplace=True)
tier1_data['Internet Brand'].replace('alliance','Alliance',inplace=True)
tier1_data['Internet Brand'].replace(['airtel','Airtel'],'Airtel',inplace=True)
tier1_data['Internet Brand'].replace('wish net','Wish Net',inplace=True)
tier1_data['Internet Brand'].replace('a-fiber net','Fibernet',inplace=True)
tier1_data['Internet Brand'].replace('act-fiber','ACT Fibernet',inplace=True)
tier1_data['Internet Brand'].replace('you broad band','You Broad Band',inplace=True)
tier1_data['Internet Brand'].replace('did not know','Unknown',inplace=True)
tier1_data['Internet Brand'].replace('cloudnine','Cloud 9',inplace=True)
tier1_data['Internet Brand'].value_counts()

airtel                14
Airtel                11
hathway               11
act fiber              8
alliance               7
                      ..
ETC fibre net          1
not always             1
ACP                    1
Vodaphone              1
tata sky broadband     1
Name: Internet Brand, Length: 61, dtype: int64

In [56]:
tier1_data.shape

(1005, 20)

## Comment

In [57]:
tier1_data['Comment'].unique()

array(['Not intrested', 'Interested', 'Not received', 'Call tommoraw', 'Not Interested', 'Freelancer', 'Not recieved', 'Switched OFF', 'Call later',
       'Call lateer', 'Not interested', 'Call not reachable', 'not interested', 'interested', 'Call not received', 'lenseyeziaproductions@gmail.com',
       'info@ankitnandwani.in', 'Interested via mai: soniphotographic@gmail.com', 'Call after 1 week', 'Call after 1 week (Medical problem)',
       'Contact via mail: ', 'To call tomorrow Morning 11 am', 'Wrong Number', 'Due to lockdown ', 'Contact via mail: info@sworkstudio.com',
       'Call not receieved', 'call after 1 week', 'call after 1 week( medical emergency)', 'Interested (Call tmrw morning 11am)',
       'Contact via mail: amit@amitaroraphotography.com', 'Call cut (Not interested)', 'Big team and Business is closed for now',
       'After lockdown gets  over then would be', 'Interested via mail :vivahmoments@gmail.com', 'Call after 30th April', 'Interested- freelancer',
       'Contact via mail : contact@candidmemoirphotography.com', 'Contact via mail: praveenbhatphotography@gmail.com', 'Already (Interested)',
       'Already Interested', 'Call tomorrow at 11am', 'Contact via call later', 'contact via mail : raj@rajesharya.com', 'Out of coverage area',
       'not receiving call', 'contact via mail: vipingaurphotography@gmail.com', 'Call tmrw at 11am', 'Not accepting calls for now',
       'Office closed till 15th May dont want to talk', 'Not receiving calls', 'Interested via mail : sahil1991clicks@gmail.com',
       '(Already Interested)', 'Not interested (Client based platoform he need where he can get as much as client )', 'Call after 2 days',
       'wrong number', 'Contact via mail : rahul_sharma@live.com', 'contact via mail: priyanka@shaadiwish.com', 'Call busy ', 'Business Shutdown',
       'Call back in evening', 'out of network coverage area', 'contact via mail : mailto@vgstudios.in', 'Not owners number',
       'interested - freelancer', 'Call later - Language Problem', 'call tmrw morning at 12pm', 'Not receiving the call',
       '(Interested ) will provide details call tmrw morning at 11 am', 'Call later - language problem', 'Call later- Language problem',
       'Already have details BALA', 'Interested let us know afterwards', 'not intersted', 'might be interested', 'Call after 1 week medical',
       'Send a mail then let us know', nan, 'Call later in evening', 'Call on monday ', 'Interested (Call on Monday As details are still remaining)',
       'Call later on Monday', 'Call later (Whatsapp Details)', 'Send via Mail', 'no issues', 'dont share info', 'not received',
       'dont want to share', 'Travelling (will talk after 2 days)', 'Call not answered', 'Phone switched off',
       'Asked to visit the website( http://www.birdlenscreation.com/ )', 'Phone Switched off', 'Not Interested in sharing any type of info.',
       "Didn't pickup the call", 'Will visit the website and then talk', 'call me after ', 'bapail13276@gmail.com',
       'raja das photography.@gmail.co.', 'avigyanroy.photography@gmail.com', 'not connected', 'support@dmdigital.com',
       'akashhdphotography@gmail.com', 'Chandrashekhar1976@gmail.com', 'AnikTiwari@gmail.com', 'weddingexposure@gmail.com',
       'photolocus.help@gmail.com', 'dvstudiokolkata@gmail.com', 'iekolkata@gmail.com', 'dasstudioonline1909@gmail.com', 'busy',
       'Bombayphotostudio@yahoo.co.in', 'call me on Monday', 'pixq.stp@gmail.com', 'tirthamitraphotography@gmail.com', 'number is unavailable',
       'sakharChaudhary.961@gmail.com', 'contact.muddyearth@gmail.com', 'Priyamphotography@gmail.com', 'amil@ssvhosal.com', 'had cut the call',
       'responded', 'sumitdas.rx@gmail.com', 'bmonojit80@gmail.com', 'he cut the call', 'info@passionatephotography.com',
       'Supriyamanna.2007@gmail.com', 'rabinphotography@gmail.com', 'somimage@gmail.com', 'disconnected the call', 'myclickmates@gmail.com',
       'azhar_newyork@yahoo.co.in', 'he disconnected the call', 'rajib.saha.jmd@gmail.com wants to connect through mail',
       'framed.rgp@gmail.com cantact with mail', 'rkd-1972@yahoo.co.in', 9830811181, 'not available', 'business left', 'photographerrehan@gmail.com',
       'left the business', 'sengupta.sandy@yahoo.co.in', 'number is invalid', 'different business', 'Busy(Call Tomorrow)', 'Switched Off',
       'Interested(Asked to mail the information info@neetashankar.com)', 'Intrested(Asked to mail the information care.grandsstudio@gmail.com',
       'Language issue only kannada', 'Busy will call back', 'Txt on whatsapp regarding this 07892715907',
       'Gave half Information and then said not Intrested', 'Intrested(Asked to mail the information at ikfotosi@gmail.com', 'Call after 5pm',
       'click@parulankur.com asked to mail the details on this mail id', 'Not Received',
       'Interested (Asked to send information to whatsapp no 9099119988)', 'Interested(Waiting for lockdown to be lifted)', 'Busy',
       'Busy (call Tommorow)', 'busy (Call later)', 'Interested (Asked to mail information)', 'Asked to call after 4pm',
       'Interested (Asked to text on whatsapp no 07676754542)', 'Busy( Call Back)', 'Interested ( Askset to text on whatsapp no 08197893494',
       'Invalid Number', 'Busy (Call Tommmorow)', 'Interested( mainly into video editing)', 'Busy ', 'call later', 'call tommorow', 'Switched off',
       'no interested', 'call not received', 'asked to send details', 'no more doing photography', 'call declined', 'not connecting',
       'the number is busy', 'asked to send website in his whatsapp', 'not answering', 'no is busy', 'call cut', 'not receiving',
       'incoming call is not available', 'not picking up the call', 'they gave their camera in rent only', 'asked to send  details through whatsapp',
       'asked to call on official hrs', 'voice problem', 'asked to sed details in whatsapp', 'asked to call In sometime', 'non connecting the call',
       'asked to call in morning', 'asked to send details through text', 'asked to call after sometime', 'told to call later',
       'send details on whatsapp', 'language issue', 'incorret no.', 'not received call', 'switched off', 'wrong no.', 'invalid no.',
       'told to mail details', 'poserstop@gmail.com', 'disconnected', 'not able to connect', 'told to send details on whatsapp', 'not reachable',
       'call later on 9346176211', 'call me later', 'interested but already use a software', 'marketing@pro.in', 'no. does not exist',
       'kbp004@gmail.com', 'not a photoghrapher', 'call not received ', 'not in business(may be later)', 'did not receive',
       'was travelling(will look into it)', 'asked to send info in mail(punedusk@gmail.com)',
       'interested(asked to contact in mail-info@vivahphotos.com)', 'busy(call later)',
       'interested,asked to connect in watsap(given number) or mail - letsconnect@pixekworks.com',
       'interested(asked to get to their website for details), also informed that they are not spending anything in their marketing',
       'contact in mail - digitalponna@gmail.com', 'contact in mail - balmudra@gmail.com', 'switch off', 'called back ',
       'call later(busy with client)', 'asked for website then contact later', 'freelncer,interested', 'not receiving the call',
       'Free lancer recieved the call (if liked the business model then he might be interested)', 'Busy (will call later)',
       'freelancer (interested if liked the business model)', 'Not interested (institutional based company)', 'Not interested ',
       'Call tomorrow Morning 10am', 'Will call tomorrow afternoon 4pm', 'Not picking up the call. Will call tomorrow',
       'If interested then let me know', 'Business shutdown', 'Call after 5pm (FRI 17/04/21)', 'Try to call later (Blocked my number )',
       'Whatsapp the details ', 'Interested but call at 10am', 'Sir is interested as he is a Freelancer', 'Will call back later in sometime',
       'Interested (freelancer)', 'Out of Coverage area', 'AS OF now closed when things get normal will get back in business', 'freelancer',
       'Phone closed (Will call tomorrow)', 'Will call after sometime', 'Not in business', 'Due to lockdown , Business is shutdown', 'Call later ',
       'business shutdown', 'Not Interested, will call after someday', 'Network not reachable', 'Will call at 7pm today (19/04/21)'], dtype=object)

In [66]:
tier1_data['Comment'].replace(['Not intrested','Not intrested','Not Interested','Switched OFF','Not interested','not interested','Due to lockdown ','Call cut (Not interested)','Not accepting calls for now','Office closed till 15th May dont want to talk','Not interested (Client based platoform he need where he can get as much as client )','not intersted','dont share info','dont want to share','Call not answered', 'Phone switched off', 'Phone Switched off', 'Not Interested in sharing any type of info.',"Didn't pickup the call",'had cut the call','he disconnected the call','disconnected the call','Switched Off','left the business','no interested','no more doing photography','call declined', 'not connecting','not answering','call cut','not picking up the call','non connecting the call','switched off','disconnected','not a photoghrapher','not in business(may be later)','switch off','Not interested (institutional based company)', 'Not interested ','Business shutdown','Try to call later (Blocked my number )','AS OF now closed when things get normal will get back in business','Not in business', 'Due to lockdown , Business is shutdown','business shutdown', 'Not Interested, will call after someday','Bad review'],"Not Interested",inplace=True)
not_interested = np.array(['Not intrested','Not Interested','Switched OFF','Not interested','not interested','Due to lockdown ','Call cut (Not interested)','Not accepting calls for now','Office closed till 15th May dont want to talk','Not interested (Client based platoform he need where he can get as much as client )','not intersted','dont share info','dont want to share','Call not answered', 'Phone switched off', 'Phone Switched off', 'Not Interested in sharing any type of info.',"Didn't pickup the call",'had cut the call','he disconnected the call','disconnected the call','Switched Off','left the business','no interested','no more doing photography','call declined', 'not connecting','not answering','call cut','not picking up the call','non connecting the call','switched off','disconnected','not a photoghrapher','not in business(may be later)','switch off','Not interested (institutional based company)', 'Not interested ','Business shutdown','Try to call later (Blocked my number )','AS OF now closed when things get normal will get back in business','Not in business', 'Due to lockdown , Business is shutdown','business shutdown', 'Not Interested, will call after someday'])

In [67]:
interested = []
for x in tier1_data['Comment'].unique():
    if x not in not_interested:
        interested.append(x)
tier1_data['Comment'].replace(interested,"Interested",inplace=True)

In [68]:
tier1_data['Comment'] = np.where(tier1_data['Comment']=='Not Interested',0,tier1_data['Comment'])
tier1_data['Comment'] = np.where(tier1_data['Comment']=='Interested',1,tier1_data['Comment'])
tier1_data['Comment'] = tier1_data['Comment'].astype(np.float64)
tier1_data['Comment'].value_counts()

1.0    787
0.0    218
Name: Comment, dtype: int64

In [61]:
tier1_data.drop(columns=['Contact','Contact No. Available'],inplace=True)

In [62]:
tier1_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1005 entries, 0 to 101
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    842 non-null    object
 1   Type                    1005 non-null   object
 2   Location                1000 non-null   object
 3   Photographer's name     217 non-null    object
 4   Comment                 753 non-null    object
 5   Email ID                21 non-null     object
 6   No. of Employees        164 non-null    object
 7   Monthly Orders          155 non-null    object
 8   Problems                46 non-null     object
 9   Internet Brand          133 non-null    object
 10  Internet Speed          107 non-null    object
 11  Internet Monthly Cost   85 non-null     object
 12  Cloud Storage Used      123 non-null    object
 13  Photo Selection Method  141 non-null    object
 14  E-Book                  148 non-null    object
 15  Album Designing         153 non-null    object
 16  Internet                1005 non-null   float64
dtypes: float64(1), object(16)
memory usage: 141.3+ KB

## Type

In [63]:
for x in tier1_data['Type'].dropna().unique():
    tier1_data['Type'].replace(x,x.strip("· "),inplace=True)
    tier1_data['Type'].replace(x,x.lstrip(),inplace=True)

In [64]:
tier1_data['Type'].replace('Photography servic','Photography service',inplace=True)
tier1_data['Type'].replace('Wedding plann','Wedding plan',inplace=True)
tier1_data['Type'].replace('Wedding plann','Wedding plan',inplace=True)
tier1_data['Type'].replace('Internet marketing servic','Internet marketing service',inplace=True)
tier1_data['Type'].replace('Photography stud','Photography studio',inplace=True)
tier1_data['Type'].replace('Model portfolio stud','Model portfolio studio',inplace=True)
tier1_data['Type'].replace('Photography Institut','Photography Institute',inplace=True)
tier1_data['Type'].replace('Video editing servic','Video editing service',inplace=True)
tier1_data['Type'].replace('Tour operat','Tour operator',inplace=True)
tier1_data['Type'].replace('Copier repair servic','Copier repair service',inplace=True)
tier1_data['Type'].replace('Photography Institut','Photography Institute',inplace=True)
tier1_data['Type'].replace('Video production servic','Video production service',inplace=True)
tier1_data['Type'].replace('Portrait stud','Portrait studio',inplace=True)
tier1_data['Type'].replace('Photography Cla','CLA Photography',inplace=True)
tier1_data['Type'].replace('Corporate gift suppl','Corporate gift supply',inplace=True)
tier1_data['Type'].replace('Photography Institut','Photography Institute',inplace=True)
tier1_data['Type'].replace('Camera st','Camera studio',inplace=True)
tier1_data['Type'].replace('Electronics st','Electronics studio',inplace=True)
tier1_data['Type'].replace(['Wedding venu', 'Colleg','Design institut'],['Wedding venue', 'College','Design institute'],inplace=True)
tier1_data['Type'].replace(['th Indian restaurant', 'Corporate offic'],['The Indian restaurant', 'Corporate office'],inplace=True)

In [65]:
tier1_data['Type'].unique()

array(['Wedding photographer', 'Photographer', 'Photography studio', 'Photography service', 'Advertising Photographer', 'Media company',
       'Aerial photographer', 'Photo lab', 'Wedding planner', 'Internet marketing service', 'Model portfolio studio', 'Photography Institute',
       'Educational institution', 'No reviews · Photographer', 'Video editing service', 'Public relations firm', 'No reviews · Wedding planner',
       'Photo shop', 'No reviews · Photography studio', 'Outlet mall', 'Event management company', 'Digital printer', 'Website designer',
       'Tour operator', 'Marketing agency', 'Advertising agency', 'Copier repair service', 'Electronics Company', 'Video production service',
       'Portrait studio', 'Photography Class', 'Equipment rental agency', 'Corporate gift supplier', 'Camera store', 'Artist', 'Modeling agency',
       'Film Production Company', 'Electronics store', 'Picture frame shop', 'Freight Forwarding Agency', 'Arts organization', 'Wedding venue',
       'College', 'Dance school', 'Architect', 'Design institute', 'North Indian restaurant', 'No reviews · Wedding photographer',
       'Corporate office', 'Graphic designer', 'Gift shop', 'Make-up artist', 'Fashion design school'], dtype=object)